html, body {
    height: 100%
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    margin: 0 0 10px;
    font-weight: 700;
}

a {
    color: #000000;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
}

a:hover, a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}
ul,li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.primary-color {
    color: #F8694A;
}
.white-color {
    color: #FFF;
}
.font-weak {
    font-weight: 400;
}
#header{height: 50px; background: #000000;}
.menu-btn {
    padding: 18px 20px 18px 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: 0px;
}
#myNavbar{
    background: #000000 none repeat scroll 0 0;
    padding: 0px !important;
    max-height: 320px;
    overflow: auto;
}
#myNavbar ul li.active,#myNavbar ul li.active a{
    background: transparent;
}
ul.navbar-nav li{
    padding: 0;
    margin: 0;
}
ul.navbar-nav li:nth-child(1) a{
    border-left: none !important;
}
ul.navbar-nav li:hover ul.dropdown-menu{
    display: block !important;
}
ul.navbar-nav li a:hover{
    background: #000 none repeat scroll 0 0 !important;
    border-bottom: 2px solid #FF0000;
    height: 48px;
}
ul.navbar-nav li.active a{
    background: none !important;
}
 .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover{
    color: #ffffff !important;
    background: #000 none repeat scroll 0 0 !important;
}
.navbar-nav > li > a{
    color: #FFFFFF !important;
    text-transform: uppercase;
}
ul.dropdown-menu{
    background:#000 none repeat scroll 0 0 !important;
    padding: 0;
    border: none;
}
ul.dropdown-menu li a{
    border-left: none !important;
    color: #ffffff !important;
    padding: 0px 20px 0px 20px !important;
    line-height: 30px;
}
ul.dropdown-menu li a:hover{
    border-bottom: none !important;
    background: #FF0000 !important;
}
ul.dropdown-menu li{
    padding: 0;
    border-top: 1px solid rgba(92,92,92,.23);
    display: inline-block;
    width: 100%;
}
ul.dropdown-menu li.first{
    border: none !important;
}
.dropdown-menu > li > a
{
    padding: 0px 10px 0px 10px; !important;
}
ul.navbar-nav{
    padding: 0;
    margin: 0 !important;
}
ul.navbar-nav li a{
    color: #fff;
    display: block;
    line-height: 50px;
    padding: 0 23px;
    text-transform: uppercase;
}
#container {
    position: relative;
    width: 100%;
}
/* Mobile and tablet */
@media (min-width: 320px) and (max-width:768px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        position: fixed;
        width: 100%;
    }
    .content-wrapper {
        padding-top: 50px;
    }
    #home-slick {
        margin-top: 15px;
    }
}
/*Desktop*/
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
    .desktop-menu {
        position: fixed;
        width: 100%;
    }
    .content-wrapper {
        padding-top: 0px;
    }
    #home-slick {
        margin-top: 50px;
    }
}
/*=========================================================
	04 -> BANNERS
===========================================================*/

.banner {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner>img {
    width: 100%;
}

.banner.banner-1 .banner-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.banner.banner-2 .banner-caption {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

.banner h1 {
    font-size: 46px;
    text-transform: uppercase;
}

/*=========================================================
	05 -> HOME SLIDER
===========================================================*/

#home-slick .banner {
    margin: 0px;
}
/*=========================================================
	11 -> SLICK
===========================================================*/
/*----------------------------*\
	Arrows
\*----------------------------*/

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background: #30323A;
    z-index: 22;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #F8694A;
}

.slick-prev:before, .slick-next:before {
    color: #FFF;
}

.slick-prev {
    left: 15px;
}

.slick-next {
    right: 15px;
}

.custom-nav .slick-prev, .custom-nav .slick-next {
    display: inline-block;
    position: static;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

/*----------------------------*\
	Dots
\*----------------------------*/

.slick-dots li, .slick-dots li button, .slick-dots li button:before {
    width: 10px;
    height: 10px;
}

.slick-dots li button:before {
    content: "";
    opacity: 1;
    background: #DADADA;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    background-color: #F8694A;
}

.custom-dots .slick-dots {
    position: static;
    margin: 15px 0px;
}

/*----------------------------*\
	Sections
\*----------------------------*/

.section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.section-grey {
    background: #F6F7F8;
}

.section-title {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #DADADA;
}

.section-title .title {
    display: inline-block;
    text-transform: uppercase;
}

.section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 60px;
    background-color: #F8694A;
}

/*----------------------------*\
	Single product
\*----------------------------*/

.product.product-single {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product.product-single:hover {
    -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.product.product-single .product-thumb {
    position: relative;
    margin-bottom: 15px;
}

.product.product-single .product-thumb>img {
    width: 100%;
}

.product.product-single .product-thumb:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product.product-single:hover .product-thumb:after {
    opacity: 0.7;
    visibility: visible;
}

.product.product-single .product-label {
    position: absolute;
    left: 0;
    top: 0;
}

.product.product-single .product-label>span {
    display: block;
}

.product.product-single .product-countdown {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.product.product-single .product-body {
    padding: 15px;
}

.product.product-single .product-price {
    display: inline-block;
}

.product.product-single .product-rating {
    float: right;
    margin-top: 5px;
}

.product.product-single .product-name {
    font-size: 16px;
}

/*=========================================================
	12 -> RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
    #home .home-wrap {
        margin-left: 0px;
    }
    #aside {
        margin-bottom: 60px;
    }
    .product-reviews {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .banner h1 {
        font-size: 36px;
    }
    .store-filter .pull-right, .store-filter .pull-left {
        float: none !important;
    }
    .store-filter .pull-right {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 480px) {
    [class*='col-xs'] {
        width: 100%;
    }
}