html, body {
    height: 100%
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto
}

h1, h2, h3, h4, h5, h6 {
    color: #30323A;
    margin: 0 0 10px;
    font-weight: 700;
}

a {
    color: #000000;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
}

a:hover, a:focus {
    color: #F8694A;
    text-decoration: none;
    outline: none;
}
ul,li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#header{height: 50px; background: #000000;}
.menu-btn {
    padding: 18px 20px 18px 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: 0px;
}
#myNavbar{
    background: #000000 none repeat scroll 0 0;
    padding: 0px !important;
    max-height: 320px;
    overflow: auto;
}
#myNavbar ul li.active,#myNavbar ul li.active a{
    background: transparent;
}
ul.navbar-nav li{
    padding: 0;
    margin: 0;
}
ul.navbar-nav li:nth-child(1) a{
    border-left: none !important;
}
ul.navbar-nav li:hover ul.dropdown-menu{
    display: block !important;
}
ul.navbar-nav li a:hover{
    background: #FF0000 none repeat scroll 0 0 !important;
}
ul.navbar-nav li.active a{
    background: none !important;
}
 .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover{
    color: #ffffff !important;
    background: #FF0000 none repeat scroll 0 0 !important;
}
.navbar-nav > li > a{
    color: #FFFFFF !important;
}
ul.dropdown-menu{
    background:#FF0000 none repeat scroll 0 0 !important;
    padding: 0;
}
ul.dropdown-menu li a{
    border-left: none !important;
    color: #ffffff !important;
    padding: 0px 10px 0px 10px !important;
}
ul.dropdown-menu li{
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    line-height: 18px;
    width: 100%;
}
ul.dropdown-menu li.first{
    border: none !important;
}
ul.dropdown-menu > li:hover {

    background:#FF0000 none repeat scroll 0 0 !important;
    color: #FFF !important;
}
.dropdown-menu > li > a
{
    padding: 0px 10px 0px 10px; !important;
}
ul.navbar-nav{
    padding: 0;
    margin: 0 !important;
}
ul.navbar-nav li a{
    color: #fff;
    display: block;
    font: 700 12px/30px arial;
    height: 30px;
    padding: 0 23px;
}